
        {# Bannière - Vidéo #}
        <div class="hero__video w-100 h-100 pr b-loaded bg-black d-flex justify-content-center align-items-center">
            <video preload="" autoplay="" loop="" muted="" playsinline="">
                <source src="https://d2haofsyd6yoka.cloudfront.net/videos/owwc-title-2018-0e6e2799e70efe05801beaae6907c1ff074590e129e32ad4ce4a5b9989b1a41ab7c15145b3edf0e5d0f9aff70edbda4eb9749cfb96828893c5f257678a79971b.webm" type="video/webm">
            </video>
        </div>

        {# Bannière - Texte #}
         <div class="hero__content w-100 h-100">
            <div class="container-fluid container--max-width h-100">
                <div class="row align-items-md-center h-100">
                    <div class="col-12 col-sm-9 col-xl-11">                        
                            <h1 class="hero__heading">Bienvenue</h1>
                            <p class="hero__text h3 mt-0">Our world : video gaming since 2004 !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
