<div id="footer" class="small_footer">
    <div class="footer_content text-center">
        <div id="footer_text" class="mb-5" >
            <div class="footer_logo"><img src="/images/flammy.png" alt="Guilde Agora" border="0"></div>
            <p class="text-center">© 2019 Guilde Agora. Tous droits réservés. Les marques citées sont la propriété de leurs détenteurs respectifs, en France et dans d'autres pays.</p>
            <div>&nbsp;&nbsp; <br/>

                <a href="#" target="_blank" rel="noreferrer">Rejoindre la communauté</a>
                &nbsp; | &nbsp;
                <a href="#" target="_blank" rel="noreferrer">Projets</a>
                &nbsp; | &nbsp;

                <a href="{{path('esport_infos')}}" target="_blank" rel="noreferrer">E-sport</a>
                &nbsp; | &nbsp;
                <a href="{{path('news')}}" target="_blank" rel="noreferrer">News</a>
                &nbsp; | &nbsp;
                <a href="#" target="_blank" rel="noreferrer">Emplois</a>
                &nbsp; | &nbsp;
                <a href="#" target="_blank" rel="noreferrer">Nous contacter</a>
            </div>
        </div>
    </div>
</div>