{% extends 'base.html.twig' %}


{% block title %}Guilde Agora| Créer une nouvelle équipe {% endblock %}

{% block video %}
   {{ include('_partials/_banner-esport.html.twig') }}    
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Création d'une nouvelle équipe</h4>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-success">Confirmez la création</button>
    {{form_end(form)}}
</div>

{% endblock %}
