{% extends 'base.html.twig' %}

{% block title %} Modification du mot de passe
{% endblock %}

{% block body %}    
    <section id="news">
        <div class="container-fluid" >
            <div class="component " rel="scrollmonitor-anchor-block">
                <div class="container-fluid container--max-width">
                    <div class="container">
                        <h1>Modification du mot de passe !</h1>   
                        {{form_start(form)}}
                        {{form_widget(form)}}
                        <button type="submit" 
                        class="btn btn-success">
                        Confirmez la modification
                        </button>
                        {{form_end(form)}}         
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
