{% extends 'base.html.twig' %}

{% block title %}Guilde Agora
{% endblock %}

{% block video %}
    <div class="hero__video w-100 h-100 pr b-loaded bg-black d-flex justify-content-center align-items-center">
        <video preload="" autoplay="" loop="" muted="" playsinline="">
            <source src="https://wwwmassivese.cdn.triggerfish.cloud/uploads/2019/08/im3_showreel.mp4" type="video/mp4">

            <source src="https://wwwmassivese.cdn.triggerfish.cloud/uploads/2019/08/im3_showreel.webm" type="video/webm">
        </video>
    </div>
    <div class="hero__content w-100 h-100">
        <div class="container-fluid container--max-width h-100">
            <div class="row align-items-end align-items-md-center h-100">
                <div class="col-12 col-sm-9 col-xl-11">
                    <div class="hero__text-wrapper">

                        <h1 class="hero__heading">Bienvenue</h1>

                        <p class="hero__text h3 mt-0">Our world : video gaming since 2004 !</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="news">
        <div class="container-fluid" >
            <div class="component " rel="scrollmonitor-anchor-block">



             <header class="container-fluid component-header text-center container--max-width">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-7">
                        <h2 class="mb-0">News</h2>
                        <ul class="LatestNews__category-ul">
                            <li class="--active">
                                <a>Toute l'Actu</a>
                            </li>
                            <li class="">
                                <a>Team MCA</a>
                            </li>
                            <li class="">
                                <a>E-sport</a>
                            </li>
                            <li class="">
                                <a>Tactical-Strikes</a>
                            </li>
                            <li class="">
                                <a>World In Conflict</a>
                            </li>
                        </ul>
                    </div>
                </div>
             </header>

             <div class="container-fluid container--max-width">                
                <div class="container">
                    <div class="row">
                         <div class="col-lg-6 col-sm-12">
                             <a class="CardLatestNews" href="#" target="_blank">
                                 <div class="CardLatestNews__image-container">
                                     <img src="http://placehold.it/1920x600" alt="" class="CardLatestNews__image">
                                 </div>

                                 <div class="CardLatestNews__content-container">
                                     <h3 class="CardLatestNews__Heading">Titre de l'article</h3>
                                     <p class="CardNewsResult__content-subtitle">
                                <span class="LatestNewsByline">
                                    <span class="--byline-date">02/08/2019 - MCA Games</span>
                                </span>
                                     </p>
                                     <p class="CardLatestNews__Excerpt">
                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                                     <div class="CardLatestNews__shadow"></div>
                                 </div>
                             </a>
                         </div>
                         <div class="col-lg-6 col-sm-12">
                             <a class="CardLatestNews" href="#" target="_blank">
                                 <div class="CardLatestNews__image-container">
                                     <img src="http://placehold.it/1920x600" alt="" class="CardLatestNews__image">
                                 </div>

                                 <div class="CardLatestNews__content-container">
                                     <h3 class="CardLatestNews__Heading">Titre de l'article</h3>
                                     <p class="CardNewsResult__content-subtitle">
                                <span class="LatestNewsByline">
                                    <span class="--byline-date">02/08/2019 - Tactical Strikes</span>
                                </span>
                                     </p>
                                     <p class="CardLatestNews__Excerpt">
                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                                     <div class="CardLatestNews__shadow"></div>
                                 </div>
                             </a>
                         </div>
                         <div class="col-lg-6 col-sm-12">
                             <a class="CardLatestNews" href="#" target="_blank">
                                 <div class="CardLatestNews__image-container">
                                     <img src="http://placehold.it/1920x600" alt="" class="CardLatestNews__image">
                                 </div>

                                 <div class="CardLatestNews__content-container">
                                     <h3 class="CardLatestNews__Heading">Titre de l'article</h3>
                                     <p class="CardNewsResult__content-subtitle">
                                <span class="LatestNewsByline">
                                    <span class="--byline-date">02/08/2019 - Game Cup</span>
                                </span>
                                     </p>
                                     <p class="CardLatestNews__Excerpt">
                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                                     <div class="CardLatestNews__shadow"></div>
                                 </div>
                             </a>
                         </div>
                         <div class="col-lg-6 col-sm-12">
                             <a class="CardLatestNews" href="#" target="_blank">
                                 <div class="CardLatestNews__image-container">
                                     <img src="http://placehold.it/1920x600" alt="" class="CardLatestNews__image">
                                 </div>

                                 <div class="CardLatestNews__content-container">
                                     <h3 class="CardLatestNews__Heading">Titre de l'article</h3>
                                     <p class="CardNewsResult__content-subtitle">
                                <span class="LatestNewsByline">
                                    <span class="--byline-date">02/08/2019 - Tactical Strikes</span>
                                </span>
                                     </p>
                                     <p class="CardLatestNews__Excerpt">
                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                                     <div class="CardLatestNews__shadow"></div>
                                 </div>
                             </a>
                         </div>
                         <div class="col-lg-6 col-sm-12">
                             <a class="CardLatestNews" href="#" target="_blank">
                                 <div class="CardLatestNews__image-container">
                                     <img src="http://placehold.it/1920x600" alt="" class="CardLatestNews__image">
                                 </div>

                                 <div class="CardLatestNews__content-container">
                                     <h3 class="CardLatestNews__Heading">Titre de l'article</h3>
                                     <p class="CardNewsResult__content-subtitle">
                                <span class="LatestNewsByline">
                                    <span class="--byline-date">02/08/2019 - Tactical Strikes</span>
                                </span>
                                     </p>
                                     <p class="CardLatestNews__Excerpt">
                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                                     <div class="CardLatestNews__shadow"></div>
                                 </div>
                             </a>
                         </div>
                         <div class="col-lg-6 col-sm-12">
                             <a class="CardLatestNews" href="#" target="_blank">
                                 <div class="CardLatestNews__image-container">
                                     <img src="http://placehold.it/1920x600" alt="" class="CardLatestNews__image">
                                 </div>

                                 <div class="CardLatestNews__content-container">
                                     <h3 class="CardLatestNews__Heading">Titre de l'article</h3>
                                     <p class="CardNewsResult__content-subtitle">
                                <span class="LatestNewsByline">
                                    <span class="--byline-date">02/08/2019 - Tactical Strikes</span>
                                </span>
                                     </p>
                                     <p class="CardLatestNews__Excerpt">
                                         Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                                     <div class="CardLatestNews__shadow"></div>
                                 </div>
                            </a>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
