{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}

    <section class="component hero hero--image pr">
        <figure class="hero__image b-lazy w-100 h-100 pr b-loaded" style="background-image: url("dsc9732-2000x1003.jpg");"></figure>
        <div class="hero__content w-100 h-100">
            <div class="container-fluid container--max-width h-100">
                <div class="row align-items-end align-items-md-center h-100">
                    <div class="col-12 col-sm-9 col-xl-11">
                        <div class="hero__text-wrapper" style="transform: translate3d(0px, 0px, 0px);">

                            <h1 class="hero__heading">All news</h1>

                            <p class="hero__text h3 mt-0">Be up to date</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container-fluid">
            <div class="row mb-5 align-items-center">
<h3>All news</h3>
            </div>

            <div class="row mb-5 align-items-center">
                <h3>All news</h3>
            </div>
        </div>

    </section>

{% endblock %}
